.container{
    border: 1px solid rgba(255, 59, 222, 1);
    padding: 5px;
    display: flex;
    gap: 5px;
    width: max-content;
    margin-bottom: 10px;
}
.btn{
    border: transparent;
}
.btn:hover, .btn:focus{
    background-color: rgba(255, 59, 222, 0.58);
    border: transparent;

}